body {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    background-color: #E6F4F1;
    overflow-x:hidden;
    padding-left: 0px;
     width: 100%;
    clear: both;
}
/****نافبار *****/
.navbar-brand{
    text-shadow: 4px 4px 8px #333;
    padding-right: 30px;
    padding-left: 40px;
}
.nav-link{
    color: #eee;
    margin-left: 50px;
    font-size: 20px;
}
.nav-link:hover{
    border-bottom: 3px solid #eee;
    border-radius: 3px;
}
.active {
    border-bottom: 3px solid #eee;
    border-radius: 3px;
}
.navbar{ 
    position: fixed;
    z-index: 999;

}
/*****الصوره الخلفيه****/
.baby {
    background-image:url("../images1/angel-2.jpeg");
    background-size: cover;
    background-position: top;
    height:700px;
    width: 100%;
}
/*****الحالات*****/
.btn{ 
    color: white; 
    background-color: #3B8686;
    text-decoration: none;
    margin: 20px;
    padding: 15px;
}
.stata{
    width:100%; 
    height:300px; 
    padding-bottom: 10px;
}
.tt{
    color: white; 
    background-color: #3B8686;
    text-decoration: none;
}
.tt:hover{
    color: white; 
    background-color: #3B8686;
    text-decoration: none;
}
/*****الفريق الطبي*****/
.team{
    font-size: 15pt; 
    margin-top: 20px;
}
.teami{border-radius:50%;}
/*****تواصل معنا *****/
.contactus{
   background-color:#3B8686; 
   font-size: 18pt;
   color: white;
    padding-bottom: 30px;
}
/****فيديو يحث على التبرع *****/
.vbaby{
    width: 80%;
    height: 50%;
}
/****خاص بعرض كل سكشن و كتابه التايتل *****/
.vwrite{
    font-size: 20pt;
    margin-top: 60px;
    margin-bottom: 60px;
}
.tit{
    padding-bottom: 40px;
    font-size: 22pt;
}
/****تبرع *****/
.tbraa{
    background-color:#3B8686; 
    font-size: 20pt;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
form input{
    width: 90%;
    padding: 5px;
    margin: 10px;
}
input[type="number"]{width: 50%;}
form p{ font-size: 20pt; }
input[type="radio"]{width: auto;}
.b{
    background-color: #E6F4F1; 
    color: black;
}
/****فوتر *****/
.code{
    background-color:#3B8686;
    color: #eee;
    font-size: 15px;
    text-shadow: 4px 4px 8px #333;
    padding-right: 100px;
    padding: 20px;
    position: relative;
    left: 0;
}
