body {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    background-color: #E6F4F1;
    width: 100%;
    overflow-x: hidden;
}
/****نافبار *****/
.navbar-brand{
    text-shadow: 4px 4px 8px #333;
    display: block;
    padding-right: 30px;
    padding-left: 40px;
}
.nav-link{
    color: #eee;
    margin-left: 50px;
    font-size: 20px;
}
.nav-link:hover{
    border-bottom: 3px solid #eee;
    border-radius: 3px;
}
.active {
    border-bottom: 3px solid #eee;
    border-radius: 3px;
}
.navbar{ 
    position: fixed;
    z-index: 999;
    width: 100%;
}
/****سلايدر *****/
.baby
{
position: top;
width: 100%;
}
.ss{
    height: 610px;
    width: 100%;
}
.cc{
 
    background:#333;
    opacity: 0.9;
}
.carousel-caption{
   color: white; 
   text-shadow: 8px 4px 8px #000;
}
/****الحالات *****/
.stata{
    width:100%; 
    height:300px; 
    padding-bottom: 10px;
}
.tt{
text-decoration: none;
color: #eee;
}
.plan{
    margin-bottom: 40px;
    margin-top: 40px;
}
.vwrite{
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn{
    background-color:#3B8686;
    margin: 20px;
    padding: 15px;
    color: white; 
}
/****تبرع *****/
.tbraa{
    background-color:#3B8686; 
    font-size: 20pt;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
}
form input{
    width: 90%;
    padding: 5px;
    margin: 10px;
}
input[type="number"]{width: 50%;}
form p{ font-size: 20pt; }
input[type="radio"]{width: auto;}
.bb{
    background-color: #E6F4F1; 
    color: black;
} 
/****تواصل معنا *****/
.contactus{
   background-color:#4e9292; 
   font-size: 18pt;
   margin-top: 50px; 
   color: white;
    padding-bottom: 30px;
    border-bottom: 1px solid #b0cece;
}
.cm{width: 15%;}
/****فوتر *****/
.code{
    background-color:#3B8686;
    color: #eee;
    font-size: 15px;
    text-shadow: 4px 4px 8px #333;
    padding-right: 100px;
    width: 100%;
    padding: 20px;
}
